html, body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resume{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "name photo"
        "work about"
        "work education"
        "community skills"
    ;
    width: 210mm;
    height: 297mm;
    grid-gap: 5px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
    background-color: #EDF5E1;
}
.name{
    grid-area : name;
    background-color: #05386B;
    position: relative;
    color: #EDF5E1;
}
.photo{
    grid-area : photo;
    background-color: #379683;
    position: relative;
}
.about{
    grid-area : about;
    background-color: #8EE4AF;
}
.work{
    grid-area : work;
    background-color: #8EE4AF;
}
.education{
    grid-area : education;
    background-color: #8EE4AF;
}
.community{
    grid-area : community;
    background-color: #8EE4AF;
}
.skills{
    grid-area : skills;
    background-color: #8EE4AF;
}
.grid-area{
    padding: 1em;
}
.name-text{
    font-size: 36px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-weight: 800;
}
.desc-text{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle {
    border       : 5px solid #EDF5E1;
    height       : 200px;
    width        : 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle img{
    width: 190px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}